<div class="jumbotron">
<div class="container">
  <h1 class="jumbotron-text">MoonSharp</h1>
  <p class="jumbotron-text">{{ site.description }}</p>
   
  <div class="btn-group">
  <a class="btn btn-primary btn-lg" role="button" href="https://github.com/xanathar/moonsharp/releases">Download Releases</a>
  <a class="btn btn-primary btn-lg" role="button" href="https://github.com/xanathar/moonsharp/tarball/master">Sources</a>
  <a class="btn btn-primary btn-lg" role="button" href="https://www.nuget.org/packages/MoonSharp/">Nuget Package</a>
  </div>
</div></div>

