<div class="jumbotron">
	<div class="container">
		<div class="logo" ></div>

		<div class="jumbotext">
			<h1 class="jumbotron-text">MoonSharp</h1>
			<p class="jumbotron-text">A Lua interpreter written entirely in C# for the .NET, Mono and Unity platforms.</p>

			<div class="btn-group">
				<a class="btn btn-primary btn-lg" role="button" href="https://github.com/moonsharp-devs/moonsharp/releases">Downloads</a>
				<a class="btn btn-primary btn-lg" role="button" href="https://github.com/moonsharp-devs/moonsharp/tarball/master">Sources</a>
				<a class="btn btn-primary btn-lg" role="button" href="https://www.assetstore.unity3d.com/en/#!/content/33776">Unity Asset</a>
				<button class="btn btn-primary btn-lg dropdown-toggle" role="button" id="dropdownMenuNugets" data-toggle="dropdown">Nuget Packages<span class="caret"></span></button>
				
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuNugets">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.nuget.org/packages/MoonSharp/">MoonSharp - interpreter package</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.nuget.org/packages/MoonSharp.Debugger.VsCode/">MoonSharp.Debugger.VsCode - VisualStudio Code Debugger package</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.nuget.org/packages/MoonSharp.Debugger/">MoonSharp.Debugger - Remote Debugger package</a></li>
  </ul>				
			</div>
		</div>
	</div>
</div>

