<div class="sidebar well">
<h4>Resources</h4>
	<ul>
	  <li><a href="faq.html">FAQ</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/releases">Download binaries</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/tarball/master">Sources .tgz</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/zipball/master">Sources .zip</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/">View on GitHub</a></li>
	  <li><a href="reference/index.html">API Reference</a></li>
	  <li><a href="http://www.lua.org/manual/5.2/">Lua 5.2 Reference</a></li>
	  <li><a href="http://moonsharp.freeforums.org/">Forum</a></li>
	</ul>
</div>
