
<div class="sidebar panel panel-default ">
  <div class="panel-heading">Next developments</div>
  <div class="panel-body">
	<ul>
		<li>Tutorials</li>
		<li>Code analysis</li>
		<li><a href="https://github.com/xanathar/moonsharp/issues">See other open issues..</a></li>
	</ul>
  </div>
</div>
<div class="sidebar panel panel-default ">
  <div class="panel-heading">Resources</div>
   <div class="panel-body">
	<ul>

    <li><a href="https://www.iubenda.com/privacy-policy/182961">Privacy Policy</a></li>
    <li><a href="faq.html">FAQ</a></li>
	  <li><a href="moonluadifferences.html">Differences vs Lua</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/issues">Issues/Tasks/Bug report</a></li>
	  <li><a href="changelog.html">Change log</a></li>
	  <li><a href="reference/index.html">API Reference</a></li>
	  <li><a href="MoonSharpStdLib.pdf">Standard Library Progress</a></li>
	  <li><a href="http://www.lua.org/manual/5.2/">Lua 5.2 Reference</a></li>
	  <li><a href="https://groups.google.com/forum/#!forum/moonsharp">Forum</a></li>
	</ul>
	</div>
</div>


<div class="sidebar panel panel-default ">
  <div class="panel-heading">Downloads</div>
   <div class="panel-body">
	<ul>
	  <li><a href="https://github.com/xanathar/moonsharp/releases">Zip releases</a></li>
	  <li><a href="https://www.nuget.org/packages/MoonSharp/">Nuget package</a></li>
	  <li><a href="https://www.nuget.org/packages/MoonSharp.Debugger/">Nuget package - debugger</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/tarball/master">Latest sources .tgz</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/zipball/master">Latest sources .zip</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/">View on GitHub</a></li>
	</ul>
	</div>
</div>
