
<div class="sidebar panel panel-default ">
  <div class="panel-heading">Next developments</div>
  <div class="panel-body">
	<ul>
		<li>String library</li>
		<li>Tutorials</li>
		<li>Error messages</li>
		<li><a href="https://github.com/xanathar/moonsharp/issues">See other open issues..</a></li>
	</ul>
  </div>
</div>
<div class="sidebar panel panel-default ">
  <div class="panel-heading">Resources</div>
   <div class="panel-body">
	<ul>
	  <li><a href="faq.html">FAQ</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/issues">Issues/Tasks/Bug report</a></li>
	  <li><a href="changelog.html">Change log</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/releases">Download releases</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/tarball/master">Latest sources .tgz</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/zipball/master">Latest sources .zip</a></li>
	  <li><a href="https://github.com/xanathar/moonsharp/">View on GitHub</a></li>
	  <li><a href="reference/index.html">API Reference</a></li>
	  <li><a href="MoonSharpStdLib.pdf">Standard Library Progress</a></li>
	  <li><a href="http://www.lua.org/manual/5.2/">Lua 5.2 Reference</a></li>
	  <li><a href="https://groups.google.com/forum/#!forum/moonsharp">Forum</a></li>
	</ul>
	</div>
</div>



